<style>

  #preview-bar-iframe {
    display: none;
  }

  .gradBg {
    background-color: {{ section.settings.gradBg }};
  }
  
  .gradDark1 {
    background-image: radial-gradient(50% 80% at 0% 30%, {{ section.settings.gradDark }} 0%, rgba(255, 0, 0, 0) 100%);
  }
  
  .gradDark2 {
    background-image: radial-gradient(60% 80% at 100% 100%, {{ section.settings.gradDark }} 0%, rgba(255, 0, 0, 0) 100%);
  }
  
  .gradLight1 {
    background-image: radial-gradient(50% 40% at 80% 60%, {{ section.settings.gradLight }} 0%, rgba(255, 0, 0, 0) 100%);
  }
  
  .gradLight2 {
    background-image: radial-gradient(40% 40% at 90% 80%, {{ section.settings.gradLight }} 0%, rgba(255, 0, 0, 0) 100%);
  }

</style>

<div class="gradBg">
  
  <div class="gradDark1"></div>
  <div class="gradDark2"></div>
  <div class="gradLight1"></div>
  <div class="gradLight2"></div>
  
  <div class="relative z-10">

    {% if section.settings.title != blank %}
      <div class="text-6xl text-center pt-16 pb-2 w-3/4 mx-auto">
        <h1>{{ section.settings.title | escape }}</h1>
      </div>
    {% endif %}
  
    {% if section.settings.subtitle != blank %}
      <div class="section-subheader text-center">
        <h1>{{ section.settings.subtitle | escape }}</h1>
      </div>
    {% endif %}
  
    <div class="flex justify-center">
      <a href="/collections/all" class="btn" aria-label="Explore Crystals">
        Explore All Crystals
      </a>
    </div>

  </div>

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="hpProductGrid recommendCarousel pt-8 pb-16" data-flickity='{
    "imagesLoaded": true,
    "pageDots": false,
    "cellAlign": "center",
    "prevNextButtons": false,
    "adaptiveHeight": true,
    "watchCSS": true
    }'
  >

      {% for product in collection.products limit: product_limit %}
  
        <a class="hpProductGrid-item" href="{{ product.url }}">
  
          <div>
            {{ product.images[0] | img_url: '700x' | img_tag }}
          </div>
  
          <div class="hpProductGrid-item__content flex flex-col">
  
            <div class="hpProductGrid-item__title px-4 pt-8 md:px-4 lg:pt-6">
              {{- product.title -}}
            </div>
  
            <div class="hpProductGrid-item__description">
              {{- product.description -}}
            </div>
  
            <div class="hpProductGrid-item__price text-right pr-2">
              {{- product.price | money_without_trailing_zeros -}}
            </div>
  
          </div>
  
        </a>
  
      {% endfor %}

  </div>

</div>

<script>

  // .......................................................
  // .....................Gradients.........................
  // .......................................................

  // Top left to bottom left

  let gradAnimate1 = gsap.timeline({
    repeat: -1,
    yoyo: true
  });

  gradAnimate1
    .to('.gradDark1', 4 , {
      ease: 'power1.inOut',
      css: {
        backgroundImage: 'radial-gradient(50% 80% at 0% 70%, {{ section.settings.gradLight }} 0%, rgba(255, 0, 0, 0) 100%)'
      }
    });



  let gradAnimate2 = gsap.timeline({
    repeat: -1,
    yoyo: true
  });

  // Bottom Right to Top Left

  gradAnimate2
    .to('.gradDark2', 7 , {
      ease: 'power1.inOut',
      css: {
        backgroundImage: 'radial-gradient(60% 20% at 100% 0%, {{ section.settings.gradLight }} 0%, rgba(255, 0, 0, 0) 100%)'
      }
    });

  let gradAnimate5 = gsap.timeline({
    repeat: -1,
    yoyo: true
  });

  // Bottom Left to Bottom Right

  gradAnimate5
    .to('.gradLight1', 5 , {
      ease: 'power1.inOut',
      css: {
        backgroundImage: 'radial-gradient(50% 40% at 40% 10%, {{ section.settings.gradDark }} 0%, rgba(255, 0, 0, 0) 100%)'
      }
    });

  let gradAnimate6 = gsap.timeline({
    repeat: -1,
    yoyo: true
  });

  // Top Right to Top Left

  gradAnimate6
    .to('.gradLight2', 6 , {
      ease: 'power1.inOut',
      css: {
        backgroundImage: 'radial-gradient(80% 40% at 10% 90%, {{ section.settings.gradDark }} 0%, rgba(255, 0, 0, 0) 100%)'
      }
    });

  gradAnimate1.pause()
  gradAnimate2.pause()
  gradAnimate5.pause()
  gradAnimate6.pause()

</script>



{% schema %}
{
  "name": {
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "hi": "फ़ीचर्ड कलेक्शन",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Fremhevet samling",
        "nl": "Uitgelichte collectie",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      }
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Subheading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "en": "Supporting copy"
      }
    },
    {
      "type": "header",
      "content": "Gradient Colors"
    },
    {
      "type": "color",
      "id": "gradBg",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "gradDark",
      "label": "Background Dark Color"
    },
    {
      "type": "color",
      "id": "gradLight",
      "label": "Background Light Color"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
